<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10250278063-3g9984imukoe0th37bs16ap9qlkdnho5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10250278063-3g9984imukoe0th37bs16ap9qlkdnho5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>10250278063-3creeuaaaesh8eot2v5ch1oiqpktilbo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCy8VP9Rlkj0W69Ycx7rto-kwGENFCxHwc</string>
	<key>GCM_SENDER_ID</key>
	<string>10250278063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hugosld.pepite</string>
	<key>PROJECT_ID</key>
	<string>pepite-55fe7</string>
	<key>STORAGE_BUCKET</key>
	<string>pepite-55fe7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10250278063:ios:f5e7ff6930c73f84cdf05a</string>
</dict>
</plist>